textarea{
  resize: none
}

.col-md-6.formWrapper {
  margin: 0 auto;
  margin-bottom: 10rem;
}

h5.ml-3.text-primary {
  margin-right: 4rem;
  width: 100%;
  margin-top: 2rem;
  color: #00478e !important;
  display: inline-flex;
}

label.text-sm-left {
  color: black;
}