.authContainer {
  height: inherit;
  background-image: url('../../../assets/images/aiisle.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .ui.form {
    width: 35%;
    padding: 5rem;
    margin: 0 auto;
    background-color: #0000008a;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .ui.form .field {
    clear: both;
    margin: 0 0 2em;
  }

  .ui.form .field > label {
    margin: 0 0 0.98571429rem 0;
    text-transform: uppercase;
    color: white;
  }

  .ui.form input:not([type]),
  .ui.form input[type='date'],
  .ui.form input[type='datetime-local'],
  .ui.form input[type='email'],
  .ui.form input[type='file'],
  .ui.form input[type='number'],
  .ui.form input[type='password'],
  .ui.form input[type='search'],
  .ui.form input[type='tel'],
  .ui.form input[type='text'],
  .ui.form input[type='time'],
  .ui.form input[type='url'] {
    line-height: 1.21428571em;
    border-color: transparent;
    border-radius: 0;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #45494c;
    font-size: 14px;
    color: #959595;
    padding: 8px 0;
    margin-top: 20px;
  }

  .ui.button {
    width: 100%;
    padding: 1.1571429em 1.5em 1.18571429em;
    text-transform: uppercase;
    background: #5988f1;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-bottom: 1rem;
  }

  .shadow {
    background-color: #2b2929a1;
    height: 100%;
    padding: 6rem;
  }
  span {
    margin: 0 0 0 auto;
    color: white;
  }
}
